<configuration>
    <appender  name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--            Configuración del nombre del archivo-->
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
<!--            Configuración de cuantos días debe de quedar-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%X{requestId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
<!--        <appender-ref ref="CONSOLE"/>-->
    </root>

</configuration>